<html>
<head>
    <title> This is a Todo List</title>
</head>

<body>
    <h1>My TodoList</h1>

    <form id="todo-form" method="POST">
        
        <label><b>Date:</b></label>
        <input type="text" name="date" value=""><br>
        
        <label><b>Activity:</b></label>
        <input type="text" name="activity" value=""><br> 

        <label><b>First name:</b></label>
        <input type="text" name="fname" value=""><br>
        
        <label><b>Last name:</b></label>
        <input type="text" name="lname" value=""><br>
        
        <label><b>Status:</b></label>
        <input type="text" name="status" value=""><br>
        
        <br></br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>